.card {
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    background:rgba(255,255,255,0.5);
    min-height: 100px;
    margin: 5px auto;
}

.profile {
    display: flex;
}

.info {
    width: 50%;
}
